/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

  body{
    background-color: #EEE;
    /* background: linear-gradient(90deg, 
                              rgba(39,39,39,1) 0%, 
                              rgba(30,20,30,1) 25%, 
                              rgba(58,58,58,1) 100%); */
    
    /* Bramus mouse tracking function */
    /* background-image: radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), #3a3a3a, #272727); */
    
    height: 100vh;
    width: 100vw;
    color: #435;
    font-family: "Raleway";
        align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    
  
  }

  hr {
    color: #111;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /* header nonsense starts here */
    margin-top: 0;
    font-weight: 900;
}
  h2 {
    font-weight: 800;
  }

  
  #index {
    position: fixed;

    width: 80vw;

    overflow: auto;
    margin: auto;
    padding: 0.65cm;
    align-items: center;
    justify-content: center;
    
  }
  
  /* header */
  .glassmorph {
    width: auto;
    
    /* Glassmorphic Traits Recycled from another project */
    background: linear-gradient(90deg, var(--bxPurple) 0%, var(--bxBlue) 120%);
    border: 2px solid rgba( 255, 255, 255, 0.12 );
    box-shadow: 0 0.3cm 0.3cm 0 rgba( 31, 38, 135, 0.1);
    padding: max(20px, 2vmax);
    padding-left: max(20px, 2.4vmax);
    padding-right: max(20px, 2.4vmax);
    border-radius: max(10px, 2vmax);
    margin: max(10px, 2vmax);
    line-height:12px;

    align-items: center;
    justify-content: center;


    transition: 
      --bxPurple .31s ease-in,
      transform .31s ease-in;
    
  }

  .glassmorph:hover {
    --bxPurple: rgba(155,79,150,0.18);
    transform: scale(1.01);
  }

  /*abusing property loopholes*/
  @property --bxPurple {
    syntax: '<color>';
    initial-value: rgba(155,79,150,0.03);
    inherits: False;
  }

  @property --bxBlue {
    syntax: '<color>';
    initial-value: rgba(130,191,197,0.2);
    inherits: False;
  }

  /* Customization */
    

  
  @font-face {
       font-family: "Raleway";
       src: url("Font/Raleway-VariableFont_wght.ttf") format('truetype');
  }
  
  
  
  
  